p{ 
  margin-top: 0px;
  margin-bottom : 0px;
}
body{
  font-family:Roboto,Arial;
  height: 3725px;
  padding-top: 104px;
  padding-left : 90px;
  padding-right: 24px;
  background-color: rgb(255, 255, 255);
}
img{
  cursor: pointer;
}