.titlee{
  color : rgb(16, 16, 16);
  font-size : 16px;
  font-weight: 500;
  margin-top: 9px;
  line-height: 20px;
  margin-bottom:6px;
}
.viewss{
  font-size : 14px;
  color : rgb(85, 85, 85);
}
.img{
  height : 100%;
  width : 100%;
  border-radius: 20px;
}
.allshorts{
  display : grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  padding-top: 25px;
}
@media (max-width : 730px){
  .allshorts{
    grid-template-columns: 1fr 1fr;
    transition: grid-template-columns 0.15s;
  }
}
@media (min-width : 731px){
  .allshorts{
    grid-template-columns: 1fr 1fr 1fr;
    transition: grid-template-columns 0.15s;
  }
}
@media (min-width : 999px){
  .allshorts{
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    transition: grid-template-columns 0.15s;
  }
}
@media (min-width : 1160px){
  .allshorts{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    transition: grid-template-columns 0.15s;
  }
} 
@media (min-width : 1280px){
  .allshorts{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    transition: grid-template-columns 0.15s;
  }
}
.shorts-header{
  height : 30px;
  display : flex;
  flex-direction: row;
  justify-content: space-between ;
  vertical-align: center;
  margin-top: 40px;
}
.left-header{
  width : 50px;
  display: flex;
  flex-direction: row;
}
.shorts-heading{
  padding-top: 2px;
  padding-left: 10px;
  font-weight: 700;
  font-size: 19px;
}
.right-header{
  width : 20px;
  position: relative;
  padding-right:10px ;
}
.rlogo{
  height : 24px;
}
.xlogo{
  height : 24px;
  padding : 6px;
  transition: background-color 0.15s;
  cursor : pointer;
}
.xlogo:hover{
  background-color: rgb(238, 238, 238);
}
.right-header .xlabel{
  position: absolute;
  background-color: rgb(152, 152, 152);
  color : white;
  white-space: nowrap;
  pointer-events: none;
  font-size: 12px;
  padding: 8px 6px;
  border-radius: 4px;
  opacity: 0;
  justify-content: center;
  align-items: center;
  top : 3px;
  right : 45px;
  transition: 0.15s;
}
.right-header:hover .xlabel{
  opacity: 1;
}
.margin{
  padding-top: 25px;
  height : 20px;
  left : 0;
  right : 0;
  border-bottom-color: rgb(227, 227, 227);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.show-more-button{
  padding : 8px 135px;
  border-radius: 16px;
  border-color: rgb(227, 227, 227);
  border-style: solid;
  font-style: Roboto,Arial;
  font-size : 15px;
  font-weight: 500;
  border-width: 0.8px;
  background-color: white;
  cursor : pointer;
  margin-left : 520px;
  box-shadow : inset 1px 1px 3px rgb(0,0,0,0.05);
}
.show-more-button:hover{
  background-color: rgb(226, 226, 226);
}
.down{
  height: 13px;
  padding-left: 4px;
}
.empty{
  margin-bottom :20px;
}

